.loading {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 3rem 40% 1rem 40%;
}

.loading div {
  box-sizing: border-box;
  display: block;
  width: 52px;
  height: 52px;
  margin: 6px;
  border: 6px solid var(--black);
  border-radius: 50%;
  animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--black) transparent transparent transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
