.snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 1rem;
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
